.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;

  cursor: pointer;
}
.button-link:hover {
  text-decoration: underline;
}
/* .img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */
